<p id="notice"><%= notice %></p>
<%= gravatar_for @user %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Club:</strong>
  <%= @user.club %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @user.visible %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
